.faq-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 120px;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap; /* Permite que o conteúdo se ajuste ao layout em telas menores */
}

.faq-image img {
  max-width: 100%;
  height: auto; /* Remove a altura fixa para permitir que a imagem se redimensione proporcionalmente */
  width: 700px;
  margin-bottom: 50px;
  margin-left: -50px; /* Reduzido para menos deslocamento lateral */
}

.faq-content {
  width: 50%;
  margin-right: 0;
}

.faq-content h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem; /* Aumentado para melhor legibilidade em telas grandes */
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 1.5;
}

.faq-item {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.faq-item:hover {
  background-color: #f0f0f0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
}

.faq-answer {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 10px;
  color: #666;
}

/* Estilos Responsivos para Tablets e Dispositivos Médios */
@media (max-width: 1024px) {
  .faq-container {
    padding-top: 100px;
    gap: 30px; /* Reduz o espaçamento entre os itens */
  }

  .faq-image img {
    width: 60%; /* Reduz o tamanho da imagem em telas menores */
    margin-left: 0; /* Centraliza a imagem em telas menores */
  }

  .faq-content {
    width: 100%; /* Faz o conteúdo ocupar toda a largura disponível */
    text-align: center; /* Centraliza o texto em dispositivos menores */
  }

  .faq-content h2 {
    font-size: 1.75rem; /* Ajuste o tamanho da fonte */
  }
}

/* Estilos Responsivos para Dispositivos Móveis (até 768px) */
@media (max-width: 768px) {
  .faq-container {
    flex-direction: column; /* Muda para layout em coluna */
    align-items: center;
    padding-top: 50px;
    gap: 20px;
  }

  .faq-image img {
    width: 80%; /* Reduz a largura da imagem */
    margin-bottom: 20px;
  }

  .faq-content {
    width: 100%; /* Faz o conteúdo ocupar 100% da largura */
  }

  .faq-content h2 {
    font-size: 1.5rem; /* Reduz o tamanho da fonte do título */
  }
}

/* Estilos Responsivos para Smartphones (até 480px) */
@media (max-width: 480px) {
  .faq-container {
    padding-top: 30px;
    gap: 10px;
  }

  .faq-image img {
    width: 100%; /* Faz a imagem ocupar toda a largura do dispositivo */
    margin-bottom: 15px;
  }

  .faq-content h2 {
    font-size: 1.25rem; /* Reduz ainda mais o tamanho da fonte */
  }

  .faq-question {
    font-size: 1rem; /* Reduz o tamanho da fonte das perguntas */
  }

  .faq-answer {
    font-size: 0.9rem; /* Reduz o tamanho da fonte das respostas */
  }
}
