<div class="business-strategy-container">
  <h1>Our business strategy has helped many businesses across the globe</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur. Elementum nisl duis tortor sed.Suspendisse lobortis vitae quis vehicula pellentesque .
  </p>

  <div class="stats-container">
    <div class="stat-item">
      <h3>Clients</h3>
      <p>12K</p>
    </div>
    <div class="divider"></div>
    <div class="stat-item">
      <h3>Annual growth</h3>
      <p>55%</p>
    </div>
    <div class="divider"></div>
    <div class="stat-item">
      <h3>No of projects</h3>
      <p>5k</p>
    </div>
    <div class="divider"></div>
    <div class="stat-item">
      <h3>Positive ratings</h3>
      <p>80%</p>
    </div>
  </div>

  <div class="image-placeholder"></div>
</div>

