/* contact-section.component.css */
.contact-section {
  background-color: #f8f8f8;
  padding: 20px;
  padding-top: 120px;
}

.info-banner {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
  margin-left:13cqh;
  margin-right: 250px;

}

.info-text h2 {  // texto need more information?
  margin: 0;
  font-size: 34px;
  font-family: 'poppins';
  font-weight: 500;
  line-height: 48px;

}

.info-text p {   // texto write your concern to us and our specialist will get back to you
  margin: 5px 0 0;
  font-family: 'open sans';
  font-weight: 600;
  font-size: 20px;
  line-height: 27.24px;
  text-align: center;

}

.contact-button {
  background-color: #fff;
  color: #333;
  padding: 18px,8px,18px,8px; // botao need more information
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 60px;
  width: 150px;
  font-size: 20px;
  line-height: 24.2px;

}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer-column {
  width: 60%;
  color: #555;


}

.footer-column h3 {
  font-size: 20px;
  font-family: 'poppins';
  margin-bottom: 10px;
  line-height: 30px;
  font-weight: 600;
  margin-left: -300px;

}
.footer-column a {
  display: flex;
  color: #555;
  text-decoration: none;
  margin-bottom: 5px;
  margin-left: -300px;
  font-size: 14px;
  font-family: 'open sans';

}
.footer-column p{

 margin-left: 110px;

}

.connect .social-icons {
  display: flex;
  gap: 10px;
  margin-left: -300px;
}

.social-icons .icon {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
}

.footer-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;   //logotipo
  margin-right: 3100px;
  margin-left: 110px;


}

