/* Estilos gerais da barra de navegação */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 1000; /* Garante que a barra de navegação esteja sempre sobre outros elementos */
}

/* Logo da barra de navegação */
.navbar-logo {
  display: flex;
  align-items: center;
}

/* Estilo da imagem do logo */
.navbar-logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Estilo da lista de links na navegação */
.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  justify-content: flex-end;
  font-family: 'Open Sans', sans-serif;
  gap: 30px; /* Espaçamento horizontal entre os links */
  transition: all 0.3s ease; /* Transição suave ao abrir o menu móvel */
}

/* Estilo de cada item da lista de links */
.navbar-links li {
  margin: 0;
}

/* Estilo dos links de navegação */
.navbar-links a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  transition: color 0.3s ease;
}

/* Efeito hover nos links */
.navbar-links a:hover {
  color: #007BFF;
}

/* Estilo do botão na barra de navegação */
.navbar-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
}

/* Efeito hover no botão */
.navbar-button:hover {
  background-color: #333;
}

/* Menu toggle para telas pequenas */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Icone do menu toggle */
.menu-toggle span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 3px 0;
}

/* Responsividade para telas menores que 768px */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    padding: 0;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .navbar-links.show {
    display: flex; /* Mostra o menu quando o toggle está ativo */
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .navbar-button {
    width: 100%;
    margin-top: 10px;
  }

  .menu-toggle {
    display: flex;
  }
}

/* Estilos para telas muito pequenas (até 480px) */
@media (max-width: 480px) {
  .navbar-logo img {
    width: 40px;
    height: 40px;
  }

  .navbar-links a {
    font-size: 14px;
  }

  .navbar-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
