.partners-section {
  text-align: center;
  padding: 40px 20px;
  font-family: 'Poppins', sans-serif; /* Ou outra fonte de sua escolha */
}

.partners-section h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #333; /* Cor do texto (preto ou próximo de preto) */
}

.partners-description {
  font-size: 1.2em;
  font-weight: 400;
  color: #666; /* Cor cinza claro para o parágrafo */
  max-width: 900px; /* Limita a largura do texto para melhorar a leitura */
  margin: 0 auto; /* Centraliza o parágrafo */
  line-height: 1.6; /* Proporciona um bom espaçamento entre as linhas */
}
