.partners-section {
  text-align: center;
  padding: 40px 20px;
  font-family: 'Poppins'; 
  margin-top: 100px;
}

.partners-section h2 {
  font-family: 'poppins';
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 16px;
  color: #333; /* Cor do texto (preto ou próximo de preto) */
  line-height: 60px;
}

.partners-description {
  font-family: 'open sans';
  font-size: 1.5em;
  font-weight: 600;
  color: #666; /* Cor cinza claro para o parágrafo */
  max-width: 1000px; /* Limita a largura do texto para melhorar a leitura */
  margin: 0 auto; /* Centraliza o parágrafo */
  line-height: 1.6; /* Proporciona um bom espaçamento entre as linhas */
  margin-top: 60px;
}
