.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 600px; /* Ajuste a altura conforme necessário */
  background-color: #f5f5f5; /* Cor de fundo do container */
}

.text-container {
  flex: 1;
  padding: 20px;
  background-color: #F4F4F4; /* Cor de fundo para o texto */
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1); /* Sombra leve para o efeito */
  text-align: center;


}

.text-container h1 {
  font-family: 'poppins';
  font-size: 50px;
  font-weight: 600;
  color: #000;         // texto primario
  margin-bottom: 10px;
  text-align: center;
  line-height: 70px;


}

.text-container p {
  font-family: 'open sans';
  font-size: 20px;    //texto secundario
  font-weight: 400;
  line-height: 27px;
  color: #888;
  margin-bottom:1 px;
  text-align: center;
}

.design-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'inter';
  font-size: 20px;
  font-weight: 600;
  transition: background-color 0.3s ease;


}

.design-button:hover {
  background-color: #333333;
}

.image-container {
  flex: 1;
  background-color: #ccc; /* Cor de fundo do espaço de imagem */
  margin-right:-130px;
  height: 100%;
}
