.container {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px; /* Ajuste o padding para mais espaço ao redor */
  font-family: Arial, sans-serif;
}

.container h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em; /* Aumentado para maior destaque */
  font-weight: 600;
  margin-bottom: 20px;
}

.container p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6; /* Ajuste a linha de altura para melhor legibilidade */
  font-weight: 400;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; /* Adicionado para melhor espaçamento */
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image {
  background-color: #ccc;
  border: 1px solid #999;
  border-radius: 4px; /* Adiciona bordas arredondadas */
}

.large {
  width: 180px;
  height: 200px;
}

.medium {
  width: 120px;
  height: 150px;
}

.small {
  width: 100px;
  height: 100px;
}

.text-items {
  flex: 1;
  text-align: left;
}

.text-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* Ajuste o espaçamento entre os itens */
}

.check {
  color: green;
  margin-right: 10px;
  font-size: 1.2em; /* Aumentado para maior visibilidade */
}

.button {
  margin-top: 30px; /* Ajuste o espaçamento do botão */
  padding: 10px 20px; /* Aumentado para um melhor clique */
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #333;
}

/* Responsivo */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .text-items {
    margin-left: 0;
  }

  .button {
    margin-left: 0;
  }
}
