.container {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.container h1 {
  font-family: 'Poppins';
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 40px;
  margin-top: 60px;
}

.container p {
  font-family: 'Open Sans';
  font-size: 1.5em;
  line-height: 40.9px;
  font-weight: 400;
  margin-bottom: 50px;
  margin-top: 0px;
  width: auto;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap; /* Permite que os itens se ajustem em telas menores */
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.image {
  background-color: #ccc;
  border: 1px solid #999;
  border-radius: 4px;
}

.large {
  width: 180px;
  height: 200px;
}

.medium {
  width: 120px;
  height: 150px;
}

.small {
  width: 100px;
  height: 100px;
}

.text-items {
  flex: 1;
  text-align: left;
}

.text-item {
  display: flex;
  align-items: center;
  margin-bottom: -25px;
}

.check {
  color: green;
  margin-right: 10px;
  font-size: 1.6em;
  margin-top: -90px;
}

.button:hover {
  background-color: #333;
}

/* Estilo Responsivo */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .text-items {
    text-align: center; /* Centraliza o texto no modo responsivo */
  }

  
}
