<div class="container">
  <h1>Why Our Clients Trust Us</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur. Elementum nisl duis tortor sed. Suspendisse lobortis vitae quis vehicula pellentesque sit id. Urna posuere consequat velit vulputate faucibus pretium arcu.
  </p>

  <div class="content">
    <div class="images">
      <div class="image large"></div>
      <div class="image medium"></div>
      <div class="image small"></div>
    </div>
    <div class="text-items">
      <div class="text-item">
        <span class="check">&#10004;</span>
        <p>Lorem ipsum dolor sit amet. Consectetur elementum nisl duis.</p>
      </div>
      <div class="text-item">
        <span class="check">&#10004;</span>
        <p>Lorem ipsum dolor sit amet. Consectetur elementum nisl duis.</p>
      </div>
      <div class="text-item">
        <span class="check">&#10004;</span>
        <p>Lorem ipsum dolor sit amet. Consectetur elementum nisl duis.</p>
      </div>
      <div class="text-item">
        <span class="check">&#10004;</span>
        <p>Lorem ipsum dolor sit amet. Consectetur elementum nisl duis.</p>
      </div>
    </div>
  </div>

  <button class="button">Button</button>
</div>
