<div class="testimonials-section">   
  <h2>Our Happy Clients</h2>
  <div class="testimonials-container">
    <button class="nav-button left-button">&#8592;</button>
    
    <div class="testimonial-card">
      <p>Lorem ipsum dolor sit amet consectetur. Condimentum eget vitae ligula sed urna sit sagittis interdum a. Blandit mattis mattis lobortis orci. Facilisis dui sagittis tempor egestas pellentesque eu maecenas. Risus lectus nisl.</p>
      <div class="client-info">
        <img src="../../assets/Design sem nome (1).png" alt="Client Photo">
        <div>
          <h4>Jacqueline Wright</h4>
          <span>Customer</span>
        </div>
      </div>
    </div>

    <div class="testimonial-card">
      <p>Lorem ipsum dolor sit amet consectetur. Condimentum eget vitae ligula sed urna sit sagittis interdum a. Blandit mattis mattis lobortis orci. Facilisis dui sagittis tempor egestas pellentesque eu maecenas. Risus lectus nisl.</p>
      <div class="client-info">
        <img src="../../assets/Design sem nome (1).png" alt="Client Photo">
        <div>
          <h4>Jacqueline Wright</h4>
          <span>Customer</span>
        </div>
      </div>
    </div>

    <button class="nav-button right-button">&#8594;</button>
  </div>
</div>/
